@import "../../styles/index.scss";

.category {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  .category_text {
    display: grid;
    text-align: center;

    // gap: 1rem;
    padding: 2rem 0;
  }

  .category_items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 2.5rem;
    img {
        border-radius: 10px;
    }

    h2 {
      font-size: 1rem;
      color: $black;
      font-weight: 600;
    text-align: center;
    }

    @include breakpoint(sm, md){
        // align center
        justify-content: space-around;
        align-items: center;

        // img {
        //   width: 50%;
        //   height: 50%;
        // }
        
    }
  }

  
}
