@import "../../styles/index.scss";
@import "../../styles/utilities/variables.scss";
.navbar {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  place-items: center;
  padding: 15px 20px 15px 20px;
  justify-items: center;
  font-weight: 600;

  .navbar_left {
    display: grid;
    grid-template-columns: 1fr 2fr;
    .logo_img {
      width: 40px;
      height: 40px;
    }

    .logo_text {
      font-family: $font-family;
      font-size: 1.5rem;
      font-weight: 600;
    }
  }

  .menu_links {
    ul {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      list-style: none;
    }

    a {
      text-decoration: none;
      color: $heading;

      &:hover {
        color: $primary;
      }
    }
  }
  .navbar_right {
    color: $heading;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    svg {
      width: 20px;
    }
    button {
      border: 0;
      background-color: transparent;
      cursor: pointer;

      &:hover {
        color: $primary;
      }
    }
  }

  .mobile_menu_toggle {
    svg {
      width: 30px;
      stroke-width: 2px;
    }

    button {
      border: none;
      background-color: $white;

      &:hover {
        color: $primary;
      }
    }

    // for mobile and tablet
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
  @media screen and (max-width: 768px) {
    .navbar_right {
      display: none;
    }
    .navbar_middle {
      display: none;
    }

    display: flex;
    justify-content: space-between;
    padding-inline: 2rem;

    .mobile_menu_hidden {
      display: none;
    }

    .mobile_menu_en {
      position: fixed;
      width: 100%;
      height: 100vh;
      top: 0px;
      left: 0;
      z-index: 10;
      // make slide in from right
      //transform: translateX(100%);
      //transition: 0.3s ease-in-out;
      background-color: $secondary;

      svg {
        position: absolute;
        width: 60px;
        margin: 1rem;
        stroke-width: 2px;
        left: 85%;
      }
      ul {
        margin: 4rem;
        list-style: none;
        display: grid;
        gap: 2rem;
        grid-template-columns: auto;
      }

      a {
        text-decoration: none;
        font-size: 2.5rem;
        color: $heading;
        font-weight: 700;
        &:hover {
          color: $primary;
        }
      }
    }
  }
}
